@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
body{
  background-color: hsl(33, 41%, 58%);
  font-family: Rye,sans-serif;
  color: hsl(25, 60%, 19%);
  text-align: center;
  margin: 0;
  padding: 20px;
}
header{
  background-color: hsl(25, 60%, 19%);
  color: hsl(39, 77%, 83%);
  padding: 0px 10px;
}
h1{
  font-size: 7rem;
  text-shadow: 2px 2px 5px hsl(0, 0%, 0%);;
}
input[type="text"]{
  background-color: hsl(39, 60%, 90%);
  border: 2px solid hsl(25, 60%, 19%);
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  color: hsl(25, 60%, 19%);
}
input[type="radio"]{
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin: 0 10px
}
label{
  font-size: 2rem;
  margin-right: 20px;
  color: hsl(51, 55%, 33%);
}
#game-container{
  width: 800px;
  height: 600px;
  background-color: hsl(35, 45%, 75%) /*dark brown*/;
  border: 5px solid hsl(33, 41%, 58%) /*tan border*/;
  margin: 20px auto;
  border-radius: 10px
}
summary{
  font-size: 1.5rem;
  cursor: pointer;
  padding: 10px;
  background-color: hsl(25, 60%, 19%);
  color: hsl(39, 77%, 83%);
  margin: 5px auto;
  border-radius: 5.5px;
}
details p {
  padding: 10p;
  font-size: 1rem;
}
table{
  border-collapse: collapse;
  width: 600px;
  margin: 20px auto;
}
th{
  background-color: hsl(30, 50%, 45%);
  color: hsl(39, 77%, 83%);
  padding: 12px;
  border: 2px solid hsl(25, 60%, 19%);
}
td{
  padding: 10px;
  border: 1px solid hsl(45, 25%, 65%);
  background-color: hsl(39, 49%, 78%);
}
footer{
  background-color: hsl(29, 56%, 35%);
  color: wheat;
  padding: 20px;
  margin-top: 30px;
  border: 7px solid hsl(25, 60%, 19%);
  border-radius: 10px;
}